@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CookieRun-Regular', sans-serif;
    background-color: #f9f3f3;
    text-align: center;
    color: #333;
}
button {
    background-color: #ffa8a8;
    border: none;
    color: white;
    padding: 15px 25px;
    margin: 10px auto;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'CookieRun-Regular', sans-serif;
    display: block;
    width: 80%;
}
.start-button {
    background-color: #ffa8a8;
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'CookieRun-Regular', sans-serif;
}
